.why {
}

.why-top {
  @include flexbox();
  background-color: #000;
}
.why-top__column {
  flex: 0 0 50%;

  @media (max-width: $md1+px) {
    flex: 1 1 100%;
    &:last-child {
      display: none;
    }
  }
}
.why-top__text {
  font-family: "Akzidenz-Grotesk";
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
  text-align: right;
  padding: 50px 60px 50px 0px;

  @media (max-width: $md1+px) {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
  }

  @media (max-width: $md2+px) {
    padding: 20px 0;
    font-size: 30px;
  }
}
.why-top__image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-body {
  padding: 50px 0 0 0;
  background-color: #ebebeb;
  @media (max-width: $md4+px) {
    padding: 30px 0 0 0;
  }
}
.why-body-row {
  @include flexbox();
  flex-wrap: wrap;
}
.why-body__column {
  flex: 0 0 50%;
  margin: 0 0 50px 0;

  @media (max-width: $md1+px) {
    flex: 1 1 100%;
  }

  @media (max-width: $md4+px) {
    margin: 0 0 30px 0;
  }
}
.why-body-item {
  @include flexbox();
}
.why-body-item__icon {
  @include flexbox();
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
  height: 100px;
  background-color: #000;

  @media (max-width: $md4+px) {
    flex: 0 0 80px;
    height: 80px;
    padding: 15px;
    img {
      max-width: 100%;
    }
  }
}
.why-body-item-body {
  flex: 1 1 100%;
  @include flexbox();
  flex-direction: column;
  padding: 0 0 0 11px;
}
.why-body-item-body__title {
  flex: 1 1 auto;
  font-family: "Akzidenz-Grotesk";
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  @media (max-width: $md4+px) {
    font-size: 20px;
  }
}
.why-body-item-body__text {
  font-size: 15px;
  line-height: 25px;
  padding: 0 15px 0 0;
}
